p {
    font-family: 'fangsong', Dubai;
    font-size: 20px;
}
/*This is a easter egg and has a little bit of a funny font*/
h2 {
    font-family: 'fangsong', Dubai;
    font-size: 25px;;
}

table {
    border-style: solid;
    border-color: darkgray;
}

h1 {
    font-family: 'fangsong', Dubai;
    text-align: center;
    font-weight: bold;}
/*Just random information, but very important when refering to skiing*/
#element_css {
    font-family: 'fangsong', Dubai;
    text-shadow: 2px 2px 2px black;
    background-color: lightgrey;}
/*Just to remind people of it's importance*/
.disclaimer {text-align: center;}

img.logo {
    width: 200px;
    height: 200px;
}