<!DOCTYPE html>
<html lang="en">
<head>
    <style> *{background-color: lightgrey;} </style>
    <meta charset="UTF-8">
    <title>All about Donovan Wayman</title>
</head>
<body>
    <h1>All about Donovan Wayman</h1>
    <a> href="app.py"</a>
        <a href="https://www.linkedin.com/in/donovanwayman/" target= "_blank"> <!--This is going to redirect you to linkeidn-->
        <img
            src="https://media.licdn.com/dms/image/v2/D4E03AQH_PLXY8Q1WXw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1696797057462?e=1761177600&v=beta&t=2swviGrS5jhSvi4klaNKQKjB8Obnp_KNaKmhRzKyYUI"
            alt="Donovan's linkedin Headshot & Profile"
            height="250"
            width="250"
        >
        </a>
    <p> This is all about me. My name is again Donovan Wayman and I am a Junior majoring in Finance and Information Systems at the University of Maryland.</p>
</body>

<body>
    <h2>Some of my many interests include:</h2>
        <ul>
            <li><strong>Soccer</strong></li>
        </ul>
        <ul>
            <li>Basketball</li>
        </ul>
        <ul>
            <li>Hiking</li>
        </ul>
        <ul>
            <li>Track</li>
        </ul>
        <ul>
            <li><strong>Formula 1</strong></li>
        </ul>
        <ul>
            <li>Hanging out with friends</li>
        </ul>
        <ul>
            <li>Gaming</li>
        </ul>

</body>




<body>
    <h2>Here are the classes I've took in QUEST (In order)</h2>

            <ol>
                <li>BMGT 190</li>
                <li>BMGT 390</li>
                <li>BMGT 394H</li>
                <li>BMGT 394 (Elective)</li>
            </ol>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt408c/images/quest-logo.png">
</body>
</html>