<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        *{background-color: lightgrey;}
        table {
            border-style: solid;
            border-color: violet;
        }
    </style>
    <meta charset="UTF-8">
    <title>All about Donovan Wayman</title>
</head>
<body>
    <h1>All about Donovan Wayman</h1>
        <a href="https://www.linkedin.com/in/donovanwayman/" target= "_blank"> <!--This is going to redirect you to linkeidn-->
        <img
            src="https://media.licdn.com/dms/image/v2/D4E03AQH_PLXY8Q1WXw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1696797057462?e=1761177600&v=beta&t=2swviGrS5jhSvi4klaNKQKjB8Obnp_KNaKmhRzKyYUI"
            alt="Donovan's linkedin Headshot & Profile"
            height="250"
            width="250"
        >
        </a>
        <br>
        <a href="file:///C:/Users/donow/OneDrive/Desktop/PycharmProjects/helloWorld/templates/hello.html">Let me say Hello</a>
    <p> This is all about me. My name is again Donovan Wayman and I am a Junior majoring in Finance and Information Systems at the University of Maryland.</p>
</body>

<body>
    <h2>Some of my many interests include:</h2>
        <ul>
            <li><strong>Soccer</strong></li>
            <li>Basketball</li>
            <li>Hiking</li>
            <li>Track</li>
            <li><strong>Formula 1</strong></li>
            <li>Hanging out with friends</li>
            <li>Gaming</li>
        </ul>

</body>




<body>
<h2>Here are the classes I've took in <em>QUEST</em> (In order)</h2>
    <p>Disclaimer: I have not finished my <em>QUEST</em> cirriculum, so I am still in BMGT 394 H and BMGT 408 C</p>
            <table><!--There is a pink border around this table and it is in the style element in the begining of the script-->
                <tr>
                    <th>Fall '24</th>
                    <th>Spring '25</th>
                    <th>Fall '25</th>
                </tr>
                <tr>
                    <td>BMGT 190</td>
                    <td>BMGT 390</td>
                    <td>BMGT 394H</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td>BMGT 408C</td>
                </tr>
            </table>
    <br>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt408c/images/quest-logo.png">
</body>
<!--Talks about my favourite seaosns, but it is up for interpretation-->
<body>
    <h3>My favorite seasons in order of best (objective):</h3>
            <ol>
                <li>Winter</li>
                    <a href="https://discover.burton.com/discover/s/article/learn-to-snowboard">My favorite website during winter</a>
                <li>Summer</li>
                <li>Fall</li>
                <li>Spring</li>
            </ol>
</body>

</html>