<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All about Donovan Wayman</title>
    <link rel="stylesheet" href="../static/CSS/styles.css">
</head>
<body>
    <h1>All about Donovan Wayman</h1>
    <a href="https://www.linkedin.com/in/donovanwayman/" target="_blank">
        <img
    src="https://media.licdn.com/dms/image/v2/D4E03AQH_PLXY8Q1WXw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1696797057462?e=1761177600&v=beta&t=2swviGrS5jhSvi4klaNKQKjB8Obnp_KNaKmhRzKyYUI"
    alt="Donovan's LinkedIn Headshot & Profile"
    class="logo"
    >
    </a>
    <br>
    <a href="/hello">Let me say Hello</a>
    <p>This is all about me. My name is again Donovan Wayman and I am a Junior majoring in Finance and Information Systems at the University of Maryland.</p>

    <h2>Some of my many interests include:</h2>
    <ul>
        <li><strong>Soccer</strong></li>
        <li>Basketball</li>
        <li>Hiking</li>
        <li>Track</li>
        <li><strong>Formula 1</strong></li>
        <li>Hanging out with friends</li>
        <li>Gaming</li>
    </ul>

    ---

    <h2>Here are the classes I've took in <em>QUEST</em> (In order)</h2>
    <p class="disclaimer">Disclaimer: I have not finished my <em>QUEST</em> curriculum, so I am still in BMGT 394 H and BMGT 408 C</p>
    <table>
        <tr>
            <th>Fall '24</th>
            <th>Spring '25</th>
            <th>Fall '25</th>
        </tr>
        <tr>
            <td>BMGT 190</td>
            <td>BMGT 390</td>
            <td>BMGT 394H</td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td>BMGT 408C</td>
        </tr>
    </table>
    <br>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt408c/images/quest-logo.png" alt="QUEST logo">

    ---

    <h3>My favorite seasons in order of best (objective):</h3>
    <ol>
        <li>
            Winter
            <a href="https://discover.burton.com/discover/s/article/learn-to-snowboard">My favorite website during winter</a>
        </li>
        <li>Summer</li>
        <li>Fall</li>
        <li>Spring</li>
    </ol>

<p id="element_css">I am making a new paragraph to emphasize the importance of skiing (and I also need to make this to learn more about CSS</p>
</body>
</html>