{% extends "base.html" %}

{% block title %}Favorite QUEST Class{% endblock %}

{% block content %}
    <h3>Let's find your favorite QUEST class</h3>
    <form action="/favorite-course" method="get">
        <div class="mb-3">
            <label for="first_favorite_course" class="form-label">1st Favorite QUEST Course:</label>
            <input type="text" class="form-control" id="first_favorite_course" name="first_favorite_course" required>
        </div>
        <div class="mb-3">
            <label for="second_favorite_course" class="form-label">2nd Favourite QUEST Course</label>
            <input type="text" class="form-control" id="second_favorite_course" name="second_favorite_course" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}